/* Variables and fall back */
:root { 
    --main-color: hsl(204, 8%, 76%); /* hsl Colors */
    --fallback-color: #A9A9A9; /* fall back and hex color*/
  }

/* Font Stuff */
  body {
    background-color: var(--main-color, var(--fallback-color)); /* back ground color*/
    color: #333;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }

  header{
    background-color: rgb(240,240,255);
    position: sticky;
    top:0;
    z-index: 0;
  }

  nav a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
  }

  nav a:hover {
    color: red;
  }
  
  nav a:active {
    color: green;
  }

  details {
    display:block;
    margin-top:  1rem;
  }

  footer {
    background-color: color(srgb 0.95 0.95 0.95); 
  }

  #attendance {
    color: darkblue
  }

  form {
    background-color: color-mix(in srgb, white 70%, Gray 10%);
  }

  img {
    width: 75%;
    height: 500px;
    max-width: 1200px;
    min-width: 300px;
  }

  section {
    padding: 1rem;
    margin: 1rem auto;
  }

  fieldset {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  
    border-style: dashed;
    border-width: 2px;
    border-color: aquamarine;
    border-radius: 8px;
  }

  textarea {
    padding: 10px 20px;
    margin: 20px 0;
    border-style: double;
    border-color: green;
    border-width: 5px;
  }
  
  legend {
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid red;
  }
  
  section {
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9);
  }
 
  video {
    display: block;
    margin: 1rem auto;
    width: 85%;
    max-width: auto;
    height: auto;
  }
  
  form:has(input[type="checkbox"]:checked) {
    background-color: #fffae6;
  }
